
<div class="w-11/12 mx-auto mt-20 relative overflow-x-auto shadow-md sm:rounded-lg">
    
<h3 class="text-2xl font-bold text-pink-600 text-center mb-4 ">Your Booking Status</h3>

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Hotels name
                </th>
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                <th scope="col" class="px-6 py-3">
                    Guest
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody *ngIf="products.length > 0">
            <tr *ngFor="let product of products" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ product.hotel_name}}
                </th>
                <td class="px-6 py-4">
                    {{ product.hotel_location}}
                </td>
                <td class="px-6 py-4">
                    {{ product.name}}
                </td>
                <td class="px-6 py-4">
                    $  {{ product.hotel_price}}
                </td>
                <td class="px-6 py-4">
                    <a  data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="hover:cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
                <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full backdrop-filter backdrop-blur-sm">
                    <div class="relative w-full max-w-md max-h-full">
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <div class="p-6 text-center">
                               
                                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1v3m5-3v3m5-3v3M1 7h18M5 11h10M2 3h16a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z"/>
                              </svg>
                                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you edit your booking details?</h3>
                                <button  data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-green-600 hover:text-white  focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 border font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                   <a > Update Booking </a>
                                </button>
                                <button (click)="deleteItem(product.id)" data-modal-hide="popup-modal" type="button" class=" text-gray-500 bg-white hover:bg-red-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel Booking</button>
                            </div>
                        </div>
                    </div>
                  </div>
            </tr>
            <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Ubud Mansion
                </th>
                <td class="px-6 py-4">
                    russia
                </td>
                <td class="px-6 py-4">
                    nationalpark
                </td>
                <td class="px-6 py-4">
                    $19990
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr> -->
            <!-- <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Kecamatana
                </th>
                <td class="px-6 py-4">
                    russia
                </td>
                <td class="px-6 py-4">
                    tropical
                </td>
                <td class="px-6 py-4">
                    $99999
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr> -->
        
        
        </tbody>
    </table>
</div>
