
<div class="w-11/12 mx-auto mt-20 relative overflow-x-auto shadow-md sm:rounded-lg">
    
<h3 class="text-2xl font-bold dark:text-white text-center pb-5 ">Booking Status</h3>

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Hotels name
                </th>
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                <th scope="col" class="px-6 py-3">
                    Guest
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody *ngIf="products.length > 0">
            <tr *ngFor="let product of products" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ product.hotel_name}}
                </th>
                <td class="px-6 py-4">
                    {{ product.hotel_location}}
                </td>
                <td class="px-6 py-4">
                    {{ product.name}}
                </td>
                <td class="px-6 py-4">
                    $  {{ product.hotel_price}}
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Ubud Mansion
                </th>
                <td class="px-6 py-4">
                    russia
                </td>
                <td class="px-6 py-4">
                    nationalpark
                </td>
                <td class="px-6 py-4">
                    $19990
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr> -->
            <!-- <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Kecamatana
                </th>
                <td class="px-6 py-4">
                    russia
                </td>
                <td class="px-6 py-4">
                    tropical
                </td>
                <td class="px-6 py-4">
                    $99999
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>
