/* Add the backdrop-filter to the body or container */
body.modal-open {
    backdrop-filter: blur(5px); /* Apply backdrop filter for blur effect */
  }
  
  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .modal-content {
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: relative;
  }
  
  .modal-body {
    padding: 15px;
  }
  
  .modal-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  